@model CarAuctionMVC.Application.Dtos.AuctionDetailsDto

@{
    ViewData["Title"] = "Szczegóły aukcji";
}

<h1>@Html.DisplayFor(a => a.Brand) @Html.DisplayFor(a => a.Model)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tytuł
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuctionTittle)
        </dd>
        <dt class = "col-sm-2">
            Data Aukcji
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuctionDate)
        </dd>
        <dt class = "col-sm-2">
            Cena (zł)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuyNowPrice)
        </dd>
        <dt class = "col-sm-2">
            Marka
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            Model
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            Podwozie
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOfCarBody)
        </dd>
        <dt class = "col-sm-2">
            Kategoria
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            Silnik
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineName)
        </dd>
        <dt class = "col-sm-2">
            Kraj pochodzenia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryOfOrigin)
        </dd>
        <dt class = "col-sm-2">
            Rok produkcji
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfProduction)
        </dd>
        <dt class = "col-sm-2">
            Przebieg (km)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mileage)
        </dd>
        <dt class = "col-sm-2">
            Kolor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a>
    <a class="btn btn-secondary" asp-action="Delete" asp-route-id="@Model.Id">Usuń</a>
    <a class="btn btn-secondary text-black" asp-action="Index">Cofnij</a>
</div>
