@model CarAuctionMVC.Application.Dtos.ListOfAuctionDto

@{
    ViewData["Title"] = "Aukcje";
}

<h1>Aukcja samochodów</h1>



<p>
    <a class="btn btn-primary" asp-action="Create">Nowa aukcja</a>
</p>

<form class="form-inline" asp-controller="Home" asp-action="Index" method="get">
    <div>
        <input class="form-control w-25 d-inline" type="search" placeholder="Wyszukaj" aria-label="Search" name="searchString" id="searchString">
        <button class="btn btn-outline-primary d-inline" type="submit">Wyszukaj</button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Tytuł
            </th>
            <th>
                Marka
            </th>
            <th>
                Model
            </th>
            <th>
                Rocznik
            </th>
            <th>
                Kup teraz
            </th>
            <th>
                Kwota licytacji
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Auctions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyNowPrice) zł
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuctionPrice) zł
            </td>
            <td>
                <a class="btn btn-success" asp-action="BuyNow" asp-route-id="@item.Id">Kup teraz</a>
                <a class="btn btn-secondary" asp-route-id="@item.Id" asp-action="Details">Szczegóły</a>
                <a class="btn btn-secondary" asp-route-id="@item.Id" asp-action="Edit">Edytuj</a>
                <a class="btn btn-secondary" asp-route-id="@item.Id" asp-action="Delete">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
